<div class="main-container">

    <div class="greeting">Good morning</div>

    <div class="info-container">

        <div class="urgent-tasks-container">
            <div class="urgent-tasks-left">
                <div class="img-number">
                    <img src="/img/urgent.svg">
                    <div>1</div>
                </div>                
                <div class="description">Urgent Tasks</div>
            </div>
            <div class="line"></div>
            <div class="urgent-tasks-right">
                <div class="date">October 16, 2025</div>
                <div class="description">Upcoming Deadline</div>
            </div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/board.svg">
                <div>5</div>
            </div>
            <div class="description">Tasks in<br>Board</div>
        </div>

        <div class="tasks-container tasks-to-do-container">
            <div class="img-number">
                <img src="/img/to-do.svg">
                <div>1</div>
            </div>
            <div class="description">Tasks<br>To Do</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/in-progress.svg">
                <div>2</div>
            </div>
            <div class="description">Tasks in<br>Progress</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/awaiting-feedback.svg">
                <div>2</div>
            </div>
            <div class="description">Tasks Awaiting<br>Feedback</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/done.svg">
                <div>1</div>
            </div>
            <div class="description">Tasks<br>Done</div>
        </div>

    </div>

</div>
