<div class="main-container">

    <div class="greeting">{{ chooseGreeting() }}</div>
    
    <div>Anzahl der Tasks im Status "ToDo": </div>

    <div class="info-container">

        <div class="urgent-tasks-container">
            <div class="urgent-tasks-left">
                <div class="img-number">
                    <img src="/img/urgent.svg">
                    <div>{{ urgentCount$ | async }}</div>
                </div>                
                <div class="description">Urgent Tasks</div>
            </div>
            <div class="line"></div>
            <div class="urgent-tasks-right">
                <div class="date">October 16, 2025</div>
                <div class="description">Upcoming Deadline</div>
            </div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/board.svg">
                <div>{{ tasksCount$ | async }}</div>
            </div>
            <div class="description">Tasks in<br>Board</div>
        </div>

        <div class="tasks-container tasks-to-do-container">
            <div class="img-number">
                <img src="/img/to-do.svg">
                <div>{{ todoCount$ | async }}</div>
            </div>
            <div class="description">Tasks To&nbsp;Do</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/in-progress.svg">
                <div>{{ inProgressCount$ | async }}</div>
            </div>
            <div class="description">Tasks in<br>Progress</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/awaiting-feedback.svg">
                <div>{{ waitingCount$ | async }}</div>
            </div>
            <div class="description">Tasks Awaiting<br>Feedback</div>
        </div>

        <div class="tasks-container">
            <div class="img-number">
                <img src="/img/done.svg">
                <div>{{ doneCount$ | async }}</div>
            </div>
            <div class="description">Tasks<br>Done</div>
        </div>

    </div>

</div>
