<div class="main-container" [@slideInUp]>
<!-- <div class="main-container"> -->

    <div class="greeting">{{ chooseGreeting() }}</div>   

    <div class="info-container">

        <div class="urgent-tasks-container" routerLink="board" routerLinkActive="active">
            <div class="urgent-tasks-left">
                <div class="img-number">
                    <img src="/img/urgent.svg">
                    <div>{{ urgentCount$ | async }}</div>
                </div>                
                <div class="description">Urgent Tasks</div>
            </div>
            <div class="line"></div>
            <div class="urgent-tasks-right">
                <ng-container *ngIf="upcomingUrgentDeadline$ | async as deadline">
                    <div class="date">{{ formatDate(deadline) }}</div>
                </ng-container>
                <div class="description">Upcoming Deadline</div>
            </div>
        </div>

        <div class="tasks-container tasks-container-small" routerLink="board" routerLinkActive="active">
            <div class="img-number">
                <img src="/img/board.svg">
                <div>{{ tasksCount$ | async }}</div>
            </div>
            <div class="description">Tasks in<br>Board</div>
        </div>

        <div class="tasks-container tasks-to-do-container" routerLink="board" routerLinkActive="active">
            <div class="img-number">
                <img src="/img/to-do.svg">
                <div>{{ todoCount$ | async }}</div>
            </div>
            <div class="description">Tasks To&nbsp;Do</div>
        </div>

        <div class="tasks-container tasks-container-small" routerLink="board" routerLinkActive="active">
            <div class="img-number">
                <img src="/img/in-progress.svg">
                <div>{{ inProgressCount$ | async }}</div>
            </div>
            <div class="description">Tasks in<br>Progress</div>
        </div>

        <div class="tasks-container tasks-container-small" routerLink="board" routerLinkActive="active">
            <div class="img-number">
                <img src="/img/awaiting-feedback.svg">
                <div>{{ waitingCount$ | async }}</div>
            </div>
            <div class="description">Tasks Awaiting<br>Feedback</div>
        </div>

        <div class="tasks-container tasks-container-small" routerLink="board" routerLinkActive="active">
            <div class="img-number">
                <img src="/img/done.svg">
                <div>{{ doneCount$ | async }}</div>
            </div>
            <div class="description">Tasks<br>Done</div>
        </div>

    </div>

</div>
