@use './../../colors.scss' as colors;
@use './../../../shared/breakpoints.scss' as bp;

header {
    @include colors.bg-dark;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    box-sizing: border-box;
    z-index: 999;
    @include bp.xl {
        height: 96px;
        padding: 20px 36px;
    }
    >img {
        height: 39px;
        @include bp.xl {
            height: 56px;
        }        
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    >div:nth-child(1) {
        display: none;
        @include bp.xl {
            display: unset;
            font-size: 19px;
        }        
    }
    >div:nth-child(n+2) {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    >div:nth-child(2) {
        display: none;
        @include bp.xl {
            display: unset;
            width: 20px;
            height: 20px;
            font-size: 19px;
            @include colors.border-ivory;
        }                
    }
    >div:nth-child(3) {
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        @include colors.color-dark;
        @include colors.border-ivory;
        @include colors.bg-dark;
        position: relative;
        z-index: 1;
        @include bp.xl {
            width: 56px;
            height: 56px;
            font-size: 36px;
        }
    }
    >div:nth-child(3)::before {
        content: '';
        width: 92%;
        height: 92%;
        @include colors.bg-ivory;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}