<div class="main-container">

    <div class="contacts-container">

        <div class="btn-container">
            <button class="btn-submit"><img src='/img/add-contact.svg'></button>
            <button class="btn-submit">Add new contact</button>
        </div>

        <div class="contact-list-container">
            @for (contact of contacts$ | async; track contact.name; let index = $index) {
                <app-contact [contact]="contact"></app-contact>
            }
        </div>
 
    </div>

    <div class="contact-details-container">

        <div class="contact-head-container">

            <div class="contact-icon">AB</div>

            <div class="contact-head-right">
                <div>Katharina Hofstetter</div>
                <div class="contact-edit-delete">
                    <div>
                        <img src="/img/edit.svg">
                        Edit
                    </div>
                    <div>
                        <img src="/img/delete.svg">
                        Delete
                    </div>
                </div>
            </div>

        </div>

        <div class="contact-info-container">

            <h2>Contact Information</h2>

            <div class="contact-mail-container">
                <h3>Email</h3>
                <div class="contact-mail">kathi.h&#64;gmail.com</div>
            </div>

            <div class="contact-phone-container">
                <h3>Phone</h3>
                <div>+43 680 123 45 67</div>
            </div>            

        </div>

    </div>

</div>