@use './../../shared/breakpoints.scss' as bp;
@use './../../shared/colors.scss' as colors;

.main-container {
    display: flex;
    flex-direction: row;
    // position: relative;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    position: relative;
    @include bp.xl {
        position: unset;
        width: 456px;
        height: calc(100dvh - 96px);
        box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}

.btn-container {
    position: absolute;
    bottom: 55px;
    right: 42px;
    @include bp.lg {
        position: unset;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 16px;
    }
    >button {
        width: fit-content;
        box-sizing: border-box;
    }
    >button:nth-child(1) {
        width: 64px !important;
        height: 64px !important;
        >img {
            height: 32px;
            width: 32px;
        }
        @include bp.lg {
            display: none;
        }
    }
    >button:nth-child(2) {
        font-size: 23px !important;
        padding: 14px 110px 14px 68px;        
        background-image: url('/img/add-contact.svg');
        background-repeat: no-repeat;
        background-position: right 68px center;
        background-size: 32px 32px;        
        @include colors.color-ivory;        
        display: none;
        @include bp.lg {
            display: unset;            
        }        
    }
}

.contact-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-top: 24px;
    @include bp.lg {
        margin-top: 0;
    }
}

.contact-details-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include colors.bg-grey-light-transparent;
    z-index: 2;
    @include bp.xl {
        position: unset;
        background-color: unset;
        z-index: unset;
    }
}

.add-edit-contact-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include colors.grey-light-transparent;
    z-index: 2;
}

