<div class="main-container">

    <div class="contacts-container">

        <div class="btn-container">

            <button class="btn-submit" (click)="showAddContactForm()"><img src='/img/add-contact.svg'></button>
            <button class="btn-submit" (click)="showAddContactForm()">Add new contact</button>

        </div>    

        <div class="contact-list-container">

            @for (contact of contacts$ | async; track contact.id; let index = $index) { 
                <app-contact [contact]="contact" (click)="showContactDetails(contact)"></app-contact>
            }
            <!-- Mit track contact.id sage ich Angular, dass es id als eindeutigen Identifikator verwenden soll (für Change Detection). -->

        </div>
 
    </div>

    <div class="contact-details-container" [ngClass]="{'d-none': !generalService.contactDetailsOpened}">

        <app-contact-details></app-contact-details>        

    </div>

    <div class="add-edit-contact-container" [ngClass]="{'d-none': !generalService.addContactFormOpened && !generalService.editContactFormOpened}">

        <app-add-edit-contact></app-add-edit-contact>

    </div>

</div>