<div class="main-container">

    <div class="contacts-container">

        <div class="btn-container">
            <button class="btn-submit" (click)="showAddContactForm()"><img src='/img/add-contact.svg'></button>
            <button class="btn-submit" (click)="showAddContactForm()">Add new contact</button>
        </div>

        <div class="contact-list-container">
            @for (contact of contacts$ | async; track contact.name; let index = $index) {
                <app-contact [contact]="contact"></app-contact>
            }
        </div>
 
    </div>

    <div class="contact-details-container">

        <app-contact-details></app-contact-details>

    </div>

    <div class="add-contact-container" [ngClass]="{'d-none': !generalService.addContactFormOpened && !generalService.editContactFormOpened}">
        <app-add-edit-contact></app-add-edit-contact>
    </div>

</div>