@use './../../../shared/colors.scss' as colors;
@use './../../../shared/breakpoints.scss' as bp;

.bg-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 85px 5px 5px;
    @include bp.xl {
        position: unset;
        padding: unset;
    }
    @include bp.xxxl {
        padding-right: calc((100% - 1600px) / 2);
    }
}

.contact-details-container {
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    border-radius: 10px;
    padding: 72px 24px;
    width: 100%;
    // height: fit-content;
    max-height: calc(100dvh - 250px);
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    @include bp.sm { 
        padding: 72px 36px;
    }    
    @include bp.md {
        width: fit-content;
        transform:  rotate(3deg);
    }
    @include bp.xl {
        background-color: unset;
        display: unset;
        box-shadow: unset;
        border: unset;
        border-radius: unset;
        height: unset;
        transform: unset;
        margin: unset;
        padding: 72px 36px 0 82px;
    }
}

.contact-details-container::-webkit-scrollbar {
    display: none;
}

.contact-head-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 21px;
    position: relative;
    @include bp.xs {
        flex-direction: row;
        align-items: center;
    }
    @include bp.sm {        
        gap: 54px;
    }
    @include bp.xl {
        position: unset;
    }
    >img {
        cursor: pointer;
        height: 32px;
        width: 32px;
        position: absolute;
        top: -35px;
        right: 5px;
        @include bp.xl {
            position: unset;
            display: none;
        }
    }
}

.contact-icon {
    @include colors.color-ivory;
    @include colors.border-ivory;
    border-radius: 50%;
    min-width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    flex-shrink: 0;
    @include bp.xs {
        min-width: 100px;
        height: 100px;
        font-size: 42px;
    }
    @include bp.sm {
        min-width: 120px;
        height: 120px;
        font-size: 47px;
    }
}

.contact-head-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    >div:nth-child(1) {
        font-weight: 600;
        font-size: 36px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        @include bp.sm {
            font-size: 48px;
        }
    }
}

.contact-edit-delete {
    display: flex;
    flex-direction: row;
    >div {
        padding-left: 30px;
        width: 56px;
        cursor: pointer;
        &:hover {
            @include colors.color-blue-bright;
            font-weight: 700;
        }
    }
    >div:nth-child(1) {
        background: url('/img/edit.svg') left no-repeat;
    }
    >div:nth-child(1):hover {
        background-image: url('/img/edit-dark.svg');
    }
    >div:nth-child(2) {
        background: url('/img/delete.svg') left no-repeat;
    }
    >div:nth-child(2):hover {
        background-image: url('/img/delete-dark.svg');
    }
}

.contact-deleted {
    @include colors.border-grey-light;
    @include colors.color-dark;
    @include colors.bg-ivory;
    border-radius: 10px;
    padding: 36px;
    font-size: 24px;
    text-align: center;
    transform:  rotate(-6deg);
    position: absolute;
    top: 25%;
    left: 20%;
    @include bp.xl {
        top: 300px;
        right: 20%;
        left: 50%;
    }
}

h2 {
    font-weight: 700;
    font-size: 23px;
    margin: 0 0 21px;
}

.contact-mail-container {
    margin-bottom: 22px;
}

h3 {
    margin: 0 0 15px;
}
