@if (generalService.notificationTaskAdded) {
    <div>
        Task successfully added to board.
        <img src="/img/board-white.svg">
    </div>
} @else if (generalService.notificationTaskEdited) {
    <div>Task successfully edited.</div>
} @else if (generalService.notificationTaskDeleted) {
    <div>Task successfully deleted.</div>
} @else if (generalService.notificationContactAdded) {
    <div>Contact successfully created.</div>
} @else if (generalService.notificationContactEdited) {
    <div>Contact successfully edited.</div>
} @else if (generalService.notificationContactDeleted) {
    <div>Contact successfully deleted.</div>
} @else if (generalService.notificationSignedUp) {
    <div>You signed up successfully.</div>
}