@use './../../../shared/colors.scss' as colors;

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    font-weight: 700;
    font-size: 64px;
    padding: 150px 0 72px;
    @include colors.color-grey-dark;
}

.info-container {
    // width: 912px;
    display: grid;
    grid-template-areas:
        "urgent urgent urgent board"
        "todo progress feedback done";
    grid-template-columns: repeat(auto-fill);
    gap: 32px;
    box-sizing: border-box;
    // padding: 0 30px 30px 30px;
    justify-content: center;
    >div:nth-child(1) {
        grid-area: urgent;
    }
    >div:nth-child(2) {
        grid-area: board;
    }
    >div:nth-child(3) {
        grid-area: todo;
    }
    >div:nth-child(4) {
        grid-area: progress;
    }
    >div:nth-child(5) {
        grid-area: feedback;
    }
    >div:nth-child(6) {
        grid-area: done;
    }
}

img {
    height: 76px;
    width: 76px;
}

.urgent-tasks-container {
    // height: 191px;
    width: 672px;
    border-radius: 20px;
    @include colors.bg-dark;
    display: flex;
    // justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.urgent-tasks-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.line {
    @include colors.bg-ivory;
    width: 3px;
    height: 172px;
}

.urgent-tasks-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.img-number {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
}

.date {
    font-weight: 700;
    font-size: 33px;
}

.description {
    font-weight: 400;
    font-size: 23px;
}

.tasks-container {
    border-radius: 20px;
    @include colors.border-grey-light;
    @include colors.color-dark;
    height: 219px;
    width: 204px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasks-to-do-container {
    border-radius: 20px;
    @include colors.bg-light;
}