@use './../../../shared/colors.scss' as colors;

.urgent-tasks-container {
    height: 100px;
    width: 400px;
    border-radius: 20px;
    @include colors.bg-red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tasks-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}