<div class="main-container">

    <div class="greeting">Good morning</div>

    <div class="info-container">

        <div class="urgent-tasks-container">
            <div class="tasks-number">
                <div class="number">1</div>
                <div class="description">Tasks Urgent</div>
            </div>
            <div class="line"></div>
            <div class="deadline">
                <div class="date">October 16, 2025</div>
                <div class="description">Upcoming Deadline</div>
            </div>
        </div>

        <div class="tasks-container">
            <div class="number">5</div>
            <div class="description">Tasks in Board</div>
        </div>

        <div class="tasks-container tasks-to-do-container">
            <div class="number">1</div>
            <div class="description">Tasks To-do</div>
        </div>

        <div class="tasks-container">
            <div class="number">2</div>
            <div class="description">Tasks in Progress</div>
        </div>

        <div class="tasks-container">
            <div class="number">2</div>
            <div class="description">Awaiting Feedback</div>
        </div>

        <div class="tasks-container">
            <div class="number">1</div>
            <div class="description">Tasks Done</div>
        </div>

    </div>

</div>
