<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm"> <!-- Das Formular verwendet Angulars ngSubmit-Direktive, um die onSubmit-Methode zu triggern, wenn das Formular abgesendet wird. Das #contactForm="ngForm"-Attribut erstellt eine lokale Template-Variable, die das gesamte Formularobjekt enthält. -> Validierung, Status -->
        
    <fieldset>
        <input #name="ngModel" [(ngModel)]="editedContact.name" placeholder="Name" onfocus="this.placeholder=''" type="text" name="name" id="name" required pattern="[A-Za-zÄäÖöÜüß\-]{2,} [A-Za-zÄäÖöÜüß\-]{2,}"> <!-- Eingabefeld für den Namen ist mit der ngModel-Direktive mit editContact.name verbunden -> Eingabewerte werden direkt synchronisiert -->
        <legend></legend>
        @if (!name.valid && name.touched && !name.disabled) {
            <span class="notification">Please insert first and last name (at least two characters each).</span>
        }
    </fieldset>

    <fieldset>
        <input #email="ngModel" [(ngModel)]="editedContact.email" placeholder="Email" onfocus="this.placeholder=''" type="email" name="email" id="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        <legend></legend>
        @if (!email.valid && email.touched && !email.disabled) {
            <span class="notification">Please insert email address.</span>
        }
    </fieldset>

    <fieldset>
        <input #phone="ngModel" [(ngModel)]="editedContact.phone" placeholder="Phone" onfocus="this.placeholder=''" type="text" name="phone" id="phone" required pattern="\+[0-9]{1,3} [0-9]{4,14}">
        <legend></legend>
        @if (!phone.valid && phone.touched && !phone.disabled) {
            <span class="notification">Please insert phone number using the following format: +123 1234567890.</span>
        }
    </fieldset>

    <div class="btns-create-clear">

        <div class="btn-create-clear btn-clear" (click)="contactsService.deleteContact(editedContact)">Delete</div>

        <div><input class="btn-create-clear btn-create btn-submit" type="submit" value="Save"></div>

        @if (contactEdited) {
            <div class="contact-changed">Contact successfully changed.</div>
        }
       @if (contactsService.contactDeleted) {
            <div class="contact-changed">Contact successfully deleted.</div>
        }
        
    </div>

</form> 