@use './../../../../shared/colors.scss' as colors;
@use './../../../../shared/breakpoints.scss' as bp;

.btns-create-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: 52px;
}

.btn-save {
    background-image: url('/img/check.svg');
}
