<div class="bg-container" [@slideIn]>
    
    <div class="add-edit-contact-container">

        <img src="/img/close.svg" (click)="contactsService.hideContactForm()">

        <div class="top-container">
            @if (contactsService.addContactFormOpened) {
                <h2>Add contact</h2>
            }
            @if (contactsService.editContactFormOpened) {
                <h2>Edit contact</h2>
            }
            <div>Tasks are better with a team!</div>
        </div>
        
        <div class="bottom-container">

            @if (contactsService.editContactFormOpened) {
                @if (selectedContact$ | async; as contact) {
                    <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                }
            }            
            @if (contactsService.addContactFormOpened) {
                <div class="contact-icon">
                    <img src="/img/person-white.svg">
                </div>
            }

            @if (contactsService.addContactFormOpened) {
                <app-add-contact-form></app-add-contact-form>
            }
            @if (contactsService.editContactFormOpened && contactsService.contactToBeEdited) {
                <app-edit-contact-form [contact]="contactsService.contactToBeEdited" (cancelled)="contactsService.hideContactForm()"></app-edit-contact-form>
            }

        </div>

    </div>

</div>