@use './../../../shared/colors.scss' as colors;
@use './../../../shared/breakpoints.scss' as bp;

.bg-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp.lg {
        justify-content: flex-end;
        align-items: flex-start;
    }
    @include bp.xxxl {
        padding-right: calc((100% - 1600px) / 2);
    }
}

.add-edit-contact-container {
    max-width: 396px;
    max-height: 650px;
    box-sizing: border-box;
    position: relative;
    >img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        @include bp.lg {
            top: 26px;
            right: 26px;
        }
    }
}

.top-container {
    @include colors.bg-blue-bright;
    @include colors.color-ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: 'Inter', sans-serif !important;
    height: 328px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    @include bp.lg {
        border-top-right-radius: unset;
    }
    >div {
        font-size: 21px;
    }
}

h2 {
    font-weight: 700;
    font-size: 47px;
    margin: 0;
}

.bottom-container {
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    border-top: none;
    height: 428px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
