@use './../../../shared/colors.scss' as colors;
@use './../../../shared/breakpoints.scss' as bp;

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include bp.md {
        gap: 40px;
    }
    >fieldset{
        position: relative;    
        >input {
            font-size: 19px;
            min-width: 280px;
            margin: 0 16px;
            border-radius: 0;
            border: none;
            padding-left: 8px;
            @include colors.border-bottom-grey-light;
            @include bp.xs {
                padding-left: 12px;
                width: 300px;
            }
            @include bp.lg {
                padding-left: 21px;
                width: 364px;
            }
        }
    }
    >fieldset:nth-child(1) {
        margin-top: 32px;
        @include bp.lg {
            margin-top: 8px;
        }
    }
}

#name {
    background: url('/img/person.svg') no-repeat right 8px center;
}

#email {
    background: url('/img/mail.svg') no-repeat right 8px center;
}

#phone {
    background: url('/img/phone.svg') no-repeat right 8px center;
}

.notification {
    position: absolute;
    left: 10px;
    top: 32px;
    color: red;
    font-size: 16px;
    font-weight: 400;
}
