@if (generalService.confirmationDeleteTask) {
    <div class="confirmation-container">
        <div>Do you really want to delete this task?</div>
        <div>
            <button class="btn btn-submit btn-txt">Yes</button>
            <button class="btn btn-quit btn-txt">No</button>
        </div>        
    </div>
} @else if (!generalService.confirmationDeleteContact) {
    <div class="confirmation-container">
        <div>Do you really want to delete this contact?</div>
        <div>
            <button class="btn btn-submit btn-txt">Yes</button>
            <button class="btn btn-quit btn-txt">No</button>
        </div>
    </div>
}