@if (generalService.currentTask) {

    <div class="task-details-container">

        <img src="/img/cancel-blue.svg" class="close-img" (click)="generalService.hideTaskDetails()">

        <div class="category" [ngClass]="{'bg-orange': generalService.currentTask.category == 'Technical Task', 'bg-blue-bright': generalService.currentTask.category == 'User Story'}">{{ generalService.currentTask.category }}</div>
        <h2 class="title">{{generalService.currentTask.title}}</h2>
        <div class="description">{{generalService.currentTask.description}}</div>
        <div class="due-date">{{ generalService.currentTask.date }}</div>
        <div class="priority">{{ generalService.currentTask.priority }}</div>
        <div class="assigned">
            @if (generalService.currentTask.assigned) {
                <div class="assigned">
                    @for (assignedContact of generalService.currentTask.assigned.slice(0, 5); track assignedContact.id; let index = $index) {
                        <div class="contact-icon" [ngClass]="assignedContact.color">{{ assignedContact.name | initials }}</div>                     
                    }
                    @if (generalService.currentTask.assigned.length > 5) {
                        ...
                    }
                </div>                
            }
        </div>
        <div class="subtasks">Subtasks will follow here</div>

    </div>
}