@use './../../shared/colors.scss' as colors;
@use './../../shared/breakpoints.scss' as bp;

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-left: 16px;
    @include bp.xxl {
        overflow-y: hidden;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.search-add-container {
    padding-top: 72px;
    // padding-left: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.search-task {
    // font-size: 16px;
    width: 280px;
    padding: 8px 0 8px 12px;
    background: url('/img/search.svg') no-repeat right 21px center;
    @include bp.xs {
        width: 384px;
    }
    @include bp.lg {
        width: 312px;
    }    
}

.btn-add-task {
    background-image: url('/img/add-light.svg');
    background-position: right 16px center;
    background-size: 15px 15px;
    display: none;
    @include bp.lg {
        display: unset;
    }
}

.element-position {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    @include bp.lg {
        padding-top: 100px;
    }
}

.tasks-main-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 29px;
    padding-bottom: 24px;
    width: 100%;
    @include bp.xxl {
        height: calc(100% - 200px);
    }    
    @include bp.xxl {
        flex-direction: row;
    }
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    >div:nth-child(1) {
        @include colors.color-black-light;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 23px;
        font-weight: 700;
        width: 280px;
        @include bp.xs {
            width: 384px;
        }
        @include bp.lg {
            width: 280px;
        }
    }
    >div:nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 16px;
        overflow: auto;
        scrollbar-width: 7px;
        padding: 12px;
        min-height: 300px;
        @include bp.xxl {
            flex-direction: column;
            scrollbar-width: none;
            padding-bottom: 16px;
        }
    }
}

.add-btn {
    width: 30px;
    height: 30px;
    background: url('/img/plus-btn.svg') center no-repeat;
    cursor: pointer;
    &:hover {
        background-image: url('/img/plus-btn-dark.svg');
    }
}

.drop-zone-active {
    @include colors.border-grey-dotted;
    border-radius: 10px;
    @include colors.bg-grey-light-transparent;
    cursor: move;
    // cursor: grabbing;
}
