<div class="main-container">
    
    <div class="search-add-container">

        <input class="search-task" placeholder="Find task" onfocus="this.placeholder=''" type="text" name="find-task" id="findTask">
     
        <button class="btn-submit">Add task</button>

    </div>

    <div class="board-header">

        <div>
            To do
            <img src="/img/plus-btn.svg">
        </div>
        <div>
            In progress
            <img src="/img/plus-btn.svg">
        </div>
        <div>
            Awaiting feedback
            <img src="/img/plus-btn.svg">
        </div>
        <div>
            Done
        </div>

    </div>

    <div class="tasks-container">

        @for (task of tasks; track task.title; let index = $index) {
            <app-task [task]="task"></app-task>
        }

    </div>

</div>