<div class="main-container">
    
    <div class="search-add-container">

        <input class="search-task" placeholder="Find task" onfocus="this.placeholder=''" type="text" name="find-task" id="findTask">
     
        <button class="btn-submit">Add task</button>

    </div>

    <div class="tasks-main-container">

        <div class="tasks-container">

            <div>
                To do
                <img src="/img/plus-btn.svg">
            </div>

            <div>
                @for (task of tasks$ | async; track task.id; let index = $index) {
                    @if (task.status == "to-do") {
                        <app-task [task]="task"></app-task>
                    }            
                }
            </div>

        </div>

        <div class="tasks-container">

            <div>
                In progress
                <img src="/img/plus-btn.svg">
            </div>

            <div>
                @for (task of tasks$ | async; track task.title; let index = $index) {
                    @if (task.status == "in-progress") {
                        <app-task [task]="task"></app-task>
                    }            
                }
            </div>

        </div>

        <div class="tasks-container">

            <div>
                Awaiting feedback
                <img src="/img/plus-btn.svg">
            </div>

            <div>
                @for (task of tasks$ | async; track task.title; let index = $index) {
                    @if (task.status == "waiting") {
                        <app-task [task]="task"></app-task>
                    }            
                }
            </div>            

        </div>

        <div class="tasks-container">

            <div>
                Done
            </div>

            <div>
                @for (task of tasks$ | async; track task.title; let index = $index) {
                    @if (task.status == "done") {
                        <app-task [task]="task"></app-task>
                    }            
                }
            </div>

        </div>        

    </div>

</div>