@use './../../shared/colors.scss' as colors;
@use './../../shared/breakpoints.scss' as bp;

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    overflow: auto;
    padding-left: 16px;
}

.search-add-container {
    padding-top: 72px;
    // padding-left: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

input {
    width: 280px;
    padding: 8px 0 8px 12px;
    @include bp.xs {
        width: 384px;
    }
    @include bp.lg {
        width: 312px;
    }
}

.search-task {
    // font-size: 16px;
    background: url('/img/search.svg') no-repeat right 21px center;
}

button {
    font-size: 23px !important;
    padding: 10px 48px 10px 10px;
    background-image: url('/img/add-light.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 15px 15px;
    @include colors.color-ivory;
    box-sizing: border-box;
    display: none;
    @include bp.lg {
        display: unset;
    }
}

// .board-header {
//     padding-top: 48px;
//     padding-left: 64px;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 35px;
// }

.tasks-main-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 29px;
    padding-bottom: 24px;
    // padding-left: 64px; 
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    >div:nth-child(1) {
        @include colors.color-black-light;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 23px;
        font-weight: 700;
        width: 280px;
        @include bp.xs {
            width: 384px;
        }
        @include bp.lg {
            width: 280px;
        }
        >img {
            width: 30px;
            height: 30px;
        }
    }
    >div:nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}