<div class="main-container">
    
    <div class="search-add-container">

        <input class="search-task" placeholder="Find task" onfocus="this.placeholder=''" type="text" name="find-task" id="findTask">
     
        <button class="btn-submit">Add task</button>

    </div>

    <div class="tasks-container">

        <div>
            To do
            <img src="/img/plus-btn.svg">
        </div>       

        @for (task of tasks; track task.title; let index = $index) {
            @if (task.status == 0) {
                <app-task [task]="task"></app-task>
            }            
        }

        <div>
            In progress
            <img src="/img/plus-btn.svg">
        </div>

        @for (task of tasks; track task.title; let index = $index) {
            @if (task.status == 1) {
                <app-task [task]="task"></app-task>
            }            
        }

        <div>
            Awaiting feedback
            <img src="/img/plus-btn.svg">
        </div>

        @for (task of tasks; track task.title; let index = $index) {
            @if (task.status == 2) {
                <app-task [task]="task"></app-task>
            }            
        }

        <div>
            Done
        </div>

        @for (task of tasks; track task.title; let index = $index) {
            @if (task.status == 3) {
                <app-task [task]="task"></app-task>
            }            
        }

    </div>

</div>