@use './../../shared/colors.scss' as colors;
@use './../../shared/breakpoints.scss' as bp;

.add-task-container {
    @include colors.bg-ivory;
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 76px;
    left: 0;
    >h2 {
        display: none;
        @include bp.xl {
            display: unset;
            font-weight: 700;
            font-size: 48px;
            margin-top: 50px;
            padding-bottom: -36px;
            margin: 0;
        }
    }
    @include bp.lg {
        top: 96px;
        bottom: 0;
        left: 232px;
    }
    @include bp.xl {        
        @include colors.border-grey-light;
        border-top-left-radius: 30px;
        padding: 12px;
        bottom: unset;
        left: unset;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-left: 16px;
    @include bp.xxl {
        overflow-y: hidden;
    }
}

.search-add-container {
    padding-top: 72px;
    // padding-left: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

input {
    width: 280px;
    padding: 8px 0 8px 12px;
    @include bp.xs {
        width: 384px;
    }
    @include bp.lg {
        width: 312px;
    }
}

.search-task {
    // font-size: 16px;
    background: url('/img/search.svg') no-repeat right 21px center;
}

button {
    font-size: 23px !important;
    padding: 10px 48px 10px 10px;
    background-image: url('/img/add-light.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 15px 15px;
    @include colors.color-ivory;
    box-sizing: border-box;
    display: none;
    @include bp.lg {
        display: unset;
    }
}

.tasks-main-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 29px;
    padding-bottom: 24px;
    width: 100%;
    @include bp.xxl {
        height: calc(100% - 200px);
    }    
    @include bp.xxl {
        flex-direction: row;
    }
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    >div:nth-child(1) {
        @include colors.color-black-light;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 23px;
        font-weight: 700;
        width: 280px;
        @include bp.xs {
            width: 384px;
        }
        @include bp.lg {
            width: 280px;
        }
        >img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    >div:nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 16px;
        overflow: auto;
        @include bp.xxl {
            flex-direction: column;
        }
    }
}
