@use "sass:map";

$colors: (
    "orange-bright-tasks": rgba(255, 122, 0, 1),
    "blue-bright-tasks": rgba(0, 56, 255, 1),
    "blue-bright": rgba(0, 93, 255, 1),
    "pink": rgba(252, 113, 255, 1),
    "blue-light": rgba(210, 227, 255, 1),
    "blue-dark": rgba(69, 137, 255, 1),
    "grey-light": rgba(224, 224, 224, 1),
    "grey-light-transparent": rgba(224, 224, 224, 0.5),
    "grey-dark": rgba(42, 54, 71, 1),
    "black-light": rgba(66, 82, 110, 1),
    "ivory": rgba(255, 250, 240, 1)
);

@mixin bg-ivory {
    $bg-color: map.get($colors, "ivory");
    background-color: $bg-color;
}

@mixin bg-orange-bright-tasks {
    $bg-color: map.get($colors, "orange-bright-tasks");
    background-color: $bg-color;
}

@mixin bg-blue-bright-tasks {
    $bg-color: map.get($colors, "blue-bright-tasks");
    background-color: $bg-color;
}

@mixin bg-blue-bright {
    $bg-color: map.get($colors, "blue-bright");
    background-color: $bg-color;
}

@mixin bg-pink {
    $bg-color: map.get($colors, "pink");
    background-color: $bg-color;
}

@mixin bg-light {
    $bg-color: map.get($colors, "blue-light");
    $color: map.get($colors, "blue-dark");
    background-color: $bg-color;
    color: $color;
}

@mixin bg-dark {
    $bg-color: map.get($colors, "blue-dark");
    $color: map.get($colors, "ivory");
    background-color: $bg-color;
    color: $color;
}

@mixin grey-light-transparent {
    $bg-color: map.get($colors, "grey-light-transparent");
    background-color: $bg-color;
}

@mixin color-dark {
    $color: map.get($colors, "blue-dark");
    color: $color !important;
}

@mixin color-ivory {
    $color: map.get($colors, "ivory");
    color: $color !important;
}

@mixin color-grey-dark {
    $color: map.get($colors, "grey-dark");
    color: $color !important;
}

@mixin color-grey-light {
    $color: map.get($colors, "grey-light");
    color: $color !important;
}

@mixin color-black-light {
    $color: map.get($colors, "black-light");
    color: $color !important;
}

@mixin border-grey-light {
    $border-color: map.get($colors, "grey-light");
    border: 2px solid $border-color;
}

@mixin border-top-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-top: 2px solid $border-color;
}

@mixin border-bottom-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-bottom: 2px solid $border-color;
}

@mixin border-left-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-left: 2px solid $border-color;
}

@mixin border-right-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-right: 2px solid $border-color;    
}

@mixin border-ivory {
    $border-color: map.get($colors, "ivory");
    border: 2px solid $border-color;
}
