@use "sass:map";

$colors: (
    "orange-bright": rgba(255, 122, 0, 1),
    // "orange-light": rgba(247, 183, 129, 1),
    // "orange-dark": rgba(218, 123, 34, 1),
    // "green-light": rgba(200, 203, 84, 1),
    // "green-dark": rgba(140, 135, 80, 1),
    // blue-light: rgba(65, 176, 191, 1),
    "blue-light": rgba(210, 227, 255, 1),
    // blue-dark: rgba(55, 122, 147),
    "blue-dark": rgba(69, 137, 255, 1),
    // "red-light": rgba(225, 106, 99, 1),
    // "red-dark": rgba(113, 3, 4, 1),
    "grey-light": rgba(224, 224, 224, 1),
    "grey-dark": rgba(42, 54, 71, 1),
    "black-light": rgba(66, 82, 110, 1),
    // eggshell: rgba(249, 254, 255, 1),
    "ivory": rgba(255, 250, 240, 1)
);

@mixin bg-ivory {
    $bg-color: map.get($colors, "ivory");
    background-color: $bg-color;
}

@mixin bg-orange-bright {
    $bg-color: map.get($colors, "orange-bright");
    background-color: $bg-color;
}

@mixin bg-light {
    $bg-color: map.get($colors, "blue-light");
    $color: map.get($colors, "blue-dark");
    background-color: $bg-color;
    color: $color;
}

@mixin bg-dark {
    $bg-color: map.get($colors, "blue-dark");
    $color: map.get($colors, "ivory");
    background-color: $bg-color;
    color: $color;
}

@mixin color-dark {
    $color: map.get($colors, "blue-dark");
    color: $color !important;
}

@mixin color-ivory {
    $color: map.get($colors, "ivory");
    color: $color !important;
}

@mixin color-grey-dark {
    $color: map.get($colors, "grey-dark");
    color: $color !important;
}

@mixin color-black-light {
    $color: map.get($colors, "black-light");
    color: $color !important;
}

@mixin border-grey-light {
    $border-color: map.get($colors, "grey-light");
    border: 2px solid $border-color;
}

@mixin border-ivory {
    $border-color: map.get($colors, "ivory");
    border: 2px solid $border-color;
}
