@use "sass:map";

$colors: (
    "orange": rgba(255, 168, 0, 1),
    "red": rgba(255, 61, 0, 1),
    "green": rgba(122, 226, 41, 1),
    "blue-bright-tasks": rgba(0, 56, 255, 1),
    "blue-bright": rgba(0, 93, 255, 1),
    "blue-light": rgba(210, 227, 255, 1),
    "blue-lighter": rgba(227, 238, 255, 1),
    "blue-dark": rgba(69, 137, 255, 1),
    "grey-font": rgba(100, 113, 136, 1),
    "grey-light": rgba(224, 224, 224, 1),
    "grey-light-transparent": rgba(224, 224, 224, 0.5),
    "grey-line": rgba(168, 168, 168, 1),
    "grey-dark": rgba(42, 54, 71, 1),
    "black-light": rgba(66, 82, 110, 1),
    "ivory": rgba(255, 250, 240, 1),
    "contact-blue": rgba(0, 190, 232, 1),
    "contact-orange": rgba(255, 122, 0, 1),
    "contact-violet": rgba(147, 39, 255, 1),
    "contact-blueviolet": rgba(110, 82, 255,1),
    "contact-pink": rgba(252, 113, 255, 1),
    // "contact-green": rgba(144, 238, 144, 1),
    "contact-green": rgba(60, 179, 113, 1),
    "contact-grey": rgba(209, 209, 209, 1),
);

@mixin bg-ivory {
    $bg-color: map.get($colors, "ivory");
    background-color: $bg-color;
}

@mixin bg-orange {
    $bg-color: map.get($colors, "orange");
    background-color: $bg-color;
}

@mixin bg-red {
    $bg-color: map.get($colors, "red");
    background-color: $bg-color;
}

@mixin bg-green {
    $bg-color: map.get($colors, "green");
    background-color: $bg-color;
}

@mixin bg-blue-bright-tasks {
    $bg-color: map.get($colors, "blue-bright-tasks");
    background-color: $bg-color;
}

@mixin bg-blue-bright {
    $bg-color: map.get($colors, "blue-bright");
    background-color: $bg-color;
}

@mixin bg-blue-light {
    $bg-color: map.get($colors, "blue-light");
    background-color: $bg-color;
}

@mixin bg-blue-dark {
    $bg-color: map.get($colors, "blue-dark");
    background-color: $bg-color;
}

@mixin bg-contact-blue {
    $bg-color: map.get($colors, "contact-blue");
    background-color: $bg-color !important;
}

@mixin bg-contact-orange {
    $bg-color: map.get($colors, "contact-orange");
    background-color: $bg-color !important;
}

@mixin bg-contact-violet {
    $bg-color: map.get($colors, "contact-violet");
    background-color: $bg-color !important;
}

@mixin bg-contact-blueviolet {
    $bg-color: map.get($colors, "contact-blueviolet");
    background-color: $bg-color !important;
}

@mixin bg-contact-pink {
    $bg-color: map.get($colors, "contact-pink");
    background-color: $bg-color !important;
}

@mixin bg-contact-green {
    $bg-color: map.get($colors, "contact-green");
    background-color: $bg-color !important;
}

@mixin bg-contact-grey {
    $bg-color: map.get($colors, "contact-grey");
    background-color: $bg-color;
}

@mixin bg-light {
    $bg-color: map.get($colors, "blue-light");
    $color: map.get($colors, "blue-dark");
    background-color: $bg-color;
    color: $color;
}

@mixin bg-lighter {
    $bg-color: map.get($colors, "blue-lighter");
    $color: map.get($colors, "blue-dark");
    background-color: $bg-color;
    color: $color;
}

@mixin bg-dark {
    $bg-color: map.get($colors, "blue-dark");
    $color: map.get($colors, "ivory");
    background-color: $bg-color;
    color: $color;
}

@mixin bg-grey-light-transparent {
    $bg-color: map.get($colors, "grey-light-transparent");
    background-color: $bg-color;
}

@mixin bg-grey-light {
    $bg-color: map.get($colors, "grey-light");
    background-color: $bg-color;
}

@mixin bg-grey-line {
    $bg-color: map.get($colors, "grey-line");
    background-color: $bg-color;
}

@mixin color-dark {
    $color: map.get($colors, "blue-dark");
    color: $color !important;
}

@mixin color-ivory {
    $color: map.get($colors, "ivory");
    color: $color !important;
}

@mixin color-grey-dark {
    $color: map.get($colors, "grey-dark");
    color: $color !important;
}

@mixin color-grey-light {
    $color: map.get($colors, "grey-light");
    color: $color !important;
}

@mixin color-grey-font {
    $color: map.get($colors, "grey-font");
    color: $color !important;
}

@mixin color-grey-line {
    $color: map.get($colors, "grey-line");
    color: $color !important;
}

@mixin color-black-light {
    $color: map.get($colors, "black-light");
    color: $color !important;
}

@mixin border-grey-light {
    $border-color: map.get($colors, "grey-light");
    border: 2px solid $border-color;
}

@mixin border-top-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-top: 2px solid $border-color;
}

@mixin border-bottom-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-bottom: 2px solid $border-color;
}

@mixin border-left-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-left: 2px solid $border-color;
}

@mixin border-right-grey-light {
    $border-color: map.get($colors, "grey-light");
    border-right: 2px solid $border-color;    
}

@mixin border-ivory {
    $border-color: map.get($colors, "ivory");
    border: 2px solid $border-color;
}

@mixin border-blue-dark {
    $border-color: map.get($colors, "blue-dark");
    border: 2px solid $border-color;
}

@mixin border-blue-bright {
    $border-color: map.get($colors, "blue-bright");
    border: 2px solid $border-color;
}

@mixin border-grey-dotted {
    $border-color: map.get($colors, "grey-line");
    border: 2px solid $border-color;
    border-style: dotted;
}

@mixin outline-ivory {
    $border-color: map.get($colors, "ivory");
    outline: 2px solid $border-color;
}
