<form (ngSubmit)="onSubmit(addTaskForm)" #addTaskForm="ngForm">

    <fieldset>
        <input #title="ngModel" [(ngModel)]="newTask.title" placeholder="Enter a title" type="text" name="title" id="title" minlength="2" required>
        <legend></legend>
    </fieldset>

    <fieldset>
        <textarea #description="ngModel" [(ngModel)]="newTask.description" rows="3" placeholder="Enter a description" type="text" name="description" id="description"></textarea>
        <legend><b>Description</b> (optional)</legend>
    </fieldset>

    <fieldset>
        <input #date="ngModel" [(ngModel)]="newTask.date" placeholder="dd/mm/yyyy" onfocus="this.placeholder=''" type="date" name="date" id="date" required>
        <legend><b>Due date</b></legend>
    </fieldset>

    <fieldset class="priority-container">
        <label [ngClass]="{'urgent-selected': selectedPriority == 'urgent'}">
            <input type="radio" name="priority" value="urgent" (change)="selectedPriority = 'urgent'">
            <span>Urgent</span>
            @if (selectedPriority == 'urgent') {
                <img src="/img/prio-urgent-sel.svg">
            } @else {
                <img src="/img/prio-urgent.svg">
            }                
        </label>
        <label [ngClass]="{'medium-selected': selectedPriority == 'medium'}">
            <input type="radio" name="priority" value="medium" (change)="selectedPriority = 'medium'">
            <span>Medium</span>
            @if (selectedPriority == 'medium') {
                <img src="/img/prio-medium-sel.svg">
            } @else {
                <img src="/img/prio-medium.svg">
            }                
        </label>
        <label [ngClass]="{'low-selected': selectedPriority == 'low'}">
            <input type="radio" name="priority" value="low" (change)="selectedPriority = 'low'">
            <span>Low</span>
            @if (selectedPriority == 'low') {
                <img src="/img/prio-low-sel.svg">
            } @else {
                <img src="/img/prio-low.svg">
            }                
        </label>             
        <legend><b>Priority</b></legend>
    </fieldset>

    <fieldset class="assigned-container">
            <div class="dropdown-container" tabindex="0" (click)="toggleAssignedDropdown()" (blur)="closeAssignedDropdown()">
                <div>Select contacts to assign</div>
                <div>
                    <img [ngClass]="{'arrow-open': dropdownOpened}" src="/img/drop-down-arrow.svg">
                </div>
            </div>

            @if (dropdownOpened) {
                <div class="dropdown-list">
                    @if (contacts$ | async; as contacts) {
                        @for (contact of contacts$ | async; track contact.id; let index = $index) {
                            <div class="dropdown-contact" [ngClass]="{'checked-bg': contactIsSelected(contact)}">
                                <div>
                                    <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                                    <div>{{ contact.name }}</div>
                                </div>
                                <input type="checkbox" [checked]="contactIsSelected(contact)" (change)="toggleContactSelection($event, contact)">
                                <span class="custom-checkbox"></span>
                                <!-- <option [ngValue]="contact">
                                    <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                                    {{ contact.name }}
                                </option> -->
                            </div>                                
                        }
                    } @else {
                        <p>Loading contacts ...</p>
                    }
                </div>
            }                

            <!-- <option disabled value="0">Select contacts to assign</option> -->
             
        <legend><b>Assigned to</b> (optional)</legend>
    </fieldset>
    @if (assignedContacts.length) {        
        <div class="assigned-icons-container">
            @for (assignedPerson of assignedContacts; track assignedPerson.id) {
                <div class="contact-icon" [ngClass]="assignedPerson.color">{{ assignedPerson.name | initials }}</div>
            }
        </div>
    }

    <fieldset>
        <select id="category" name="category" [(ngModel)]="selectedCategory" [ngClass]="{'select-open': selectOpened}" (click)="toggleCategoryOpenClose()" required>
            <option value="" disabled>Select task category</option>
            <option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </option>
        </select>
        <legend><b>Category</b></legend>
    </fieldset>

    <fieldset class="subtasks-container">
        <input #subtaskInput #subtasks="ngModel" [(ngModel)]="newSubtask.text" placeholder="Add new subtask" type="text" name="subtasks" id="subtasks" (click)="addingSubtask()">
        @if (!subtaskBeingAdded) {
            <img src="/img/add.svg" (click)="setFocusOnSubtaskInput()">
        }
        @if (subtaskBeingAdded) {
            <div>
                <img src="/img/cancel-blue.svg" (click)="stopAddingSubtask()">
                <div></div>
                <img src="/img/check-blue.svg" (click)="addSubtask()">
            </div>
        }            
        <legend><b>Subtasks</b> (optional)</legend>
    </fieldset>
    @if (newSubtasks.length) {
        <div class="subtasks-list">
            <ul>
                @for (entry of newSubtasks; track entry.text) {
                    <li class="subtask">
                        {{ entry.text }}
                        <div class="edit-delete-subtask">
                            <img src="/img/edit.svg" (click)="editSubtask(entry.text)">
                            <div></div>
                            <img src="/img/delete.svg" (click)="deleteSubtask(entry.text)">
                        </div>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="btns-create-clear">
        <div class="btn-create-clear btn-clear" (click)="resetForm(addTaskForm)">
            <span>Clear</span>
            <img src="/img/cancel.svg">
        </div>
        <input class="btn-create-clear btn-create btn-submit" type="submit" value="Create task">
    </div>        

</form>