<div class="form-container">

    <form (ngSubmit)="onSubmit(addTaskForm)" #addTaskForm="ngForm">

        <fieldset class="notification-container">
            <input #title="ngModel" [(ngModel)]="tasksService.newTask.title" placeholder="Enter a title" type="text" name="title" id="title" minlength="2" required>
            <legend></legend>
            @if (!title.valid && title.touched && !title.disabled || titleMissing) {
                <span class="notification">Your task needs a title.</span>
                <img class="validation-img title-validation-img" src="/img/message-error.svg">
            }
            @if (title.valid) {
                <img class="validation-img title-validation-img" src="/img/message-ok.svg">
            }
        </fieldset>

        <fieldset>
            <textarea #description="ngModel" [(ngModel)]="tasksService.newTask.description" rows="3" placeholder="Enter a description" type="text" name="description" id="description"></textarea>
            <legend><b>Description</b> (optional)</legend>
        </fieldset>

        <fieldset class="notification-container">
            <input #date="ngModel" [(ngModel)]="tasksService.newTask.date" placeholder="dd/mm/yyyy" onfocus="this.placeholder=''" type="date" name="date" id="date" required>
            <legend><b>Due date</b></legend>
            @if (!date.valid && date.touched && !date.disabled || dateMissing) {
                <span class="notification">Your task needs a deadline.</span>
                <img class="validation-img date-validation-img" src="/img/message-error.svg">
            }
            @if (date.valid && !dateMissing) {
                <img class="validation-img date-validation-img" src="/img/message-ok.svg">
            }
        </fieldset>

        <fieldset class="priority-container notification-container">
            <label [ngClass]="{'urgent-selected': tasksService.selectedPriority == 'urgent'}">
                <input type="radio" name="priority" value="urgent" (change)="tasksService.selectedPriority = 'urgent'; priorityMissing = false">
                <span>Urgent</span>
                @if (tasksService.selectedPriority == 'urgent') {
                    <img src="/img/prio-urgent-sel.svg">
                } @else {
                    <img src="/img/prio-urgent.svg">
                }                
            </label>
            <label [ngClass]="{'medium-selected': tasksService.selectedPriority == 'medium'}">
                <input type="radio" name="priority" value="medium" (change)="tasksService.selectedPriority = 'medium'; priorityMissing = false">
                <span>Medium</span>
                @if (tasksService.selectedPriority == 'medium') {
                    <img src="/img/prio-medium-sel.svg">
                } @else {
                    <img src="/img/prio-medium.svg">
                }                
            </label>
            <label [ngClass]="{'low-selected': tasksService.selectedPriority == 'low'}">
                <input type="radio" name="priority" value="low" (change)="tasksService.selectedPriority = 'low'; priorityMissing = false">
                <span>Low</span>
                @if (tasksService.selectedPriority == 'low') {
                    <img src="/img/prio-low-sel.svg">
                } @else {
                    <img src="/img/prio-low.svg">
                }                
            </label>             
            <legend><b>Priority</b></legend>
            @if (priorityMissing) {
                <span class="notification priority-notification">Your task needs a priority.</span>
                <img class="validation-img priority-validation-img" src="/img/message-error.svg">
            }
            @if (this.tasksService.selectedPriority !== '') {
                <img class="validation-img priority-validation-img" src="/img/message-ok.svg">
            }
        </fieldset>

        <fieldset class="assigned-container">
            <div class="dropdown-container" tabindex="0" (click)="toggleAssignedDropdown()" (blur)="closeAssignedDropdown()">
                <div>Select contacts to assign</div>
                <div>
                    <img [ngClass]="{'arrow-open': dropdownOpened}" src="/img/drop-down-arrow.svg">
                </div>
            </div>

            @if (dropdownOpened) {
                <div class="dropdown-list">
                    @if (contacts$ | async; as contacts) {
                        @for (contact of contacts$ | async; track contact.id; let index = $index) {
                            <div class="dropdown-contact" [ngClass]="{'checked-bg': contactIsSelected(contact)}">
                                <div>
                                    <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                                    <div>{{ contact.name }}</div>
                                </div>
                                <input type="checkbox" [checked]="contactIsSelected(contact)" (change)="toggleContactSelection($event, contact)">
                                <span class="custom-checkbox"></span>
                            </div>                                
                        }
                    } @else {
                        <p>Loading contacts ...</p>
                    }
                </div>
            }
                
            <legend><b>Assigned to</b> (optional)</legend>
        </fieldset>
        
        @if (tasksService.assignedContacts.length) {        
            <div class="assigned-icons-container">
                @for (assignedPerson of tasksService.assignedContacts; track assignedPerson.id) {
                    <div class="contact-icon" [ngClass]="assignedPerson.color">{{ assignedPerson.name | initials }}</div>
                }
            </div>
        }

        <fieldset class="notification-container">
            <select id="category" name="category" [(ngModel)]="tasksService.selectedCategory" [ngClass]="{'select-open': selectOpened}" (click)="toggleCategoryOpenClose(); categoryMissing = false" required>
                <option value="" disabled>Select task category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                </option>
            </select>
            <legend><b>Category</b></legend>
            @if (categoryMissing) {
                <span class="notification">Your task needs a category.</span>
                <img class="validation-img category-validation-img" src="/img/message-error.svg">
            }
            @if (this.tasksService.selectedCategory == 'Technical Task' || this.tasksService.selectedCategory == 'User Story') {
                <img class="validation-img category-validation-img" src="/img/message-ok.svg">
            }
        </fieldset>

        <fieldset class="subtasks-container">
            <input #subtaskInput #subtasks="ngModel" [(ngModel)]="newSubtask.text" placeholder="Add new subtask" type="text" name="subtasks" id="subtasks" (click)="addingSubtask()">
            @if (!subtaskBeingAdded) {
                <img src="/img/add.svg" (click)="setFocusOnSubtaskInput()">
            }
            @if (subtaskBeingAdded) {
                <div>
                    <img src="/img/cancel-blue.svg" (click)="stopAddingSubtask()">
                    <div></div>
                    <img src="/img/check-blue.svg" (click)="addSubtask()">
                </div>
            }            
            <legend><b>Subtasks</b> (optional)</legend>
        </fieldset>
        @if (tasksService.newSubtasks.length) {
            <div class="subtasks-list">
                <ul>
                    @for (entry of tasksService.newSubtasks; track entry.text) {
                        <li class="subtask">
                            {{ entry.text }}
                            <div class="edit-delete-subtask">
                                <img src="/img/edit.svg" (click)="editSubtask(entry)">
                                <div></div>
                                <img src="/img/delete.svg" (click)="deleteSubtask(entry.text)">
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }

        @if (!tasksService.editTaskContainerOpened) {
            <div class="btns-container">
                <div class="btn btn-txt-img btn-quit btn-clear" (click)="resetForm(addTaskForm)">Clear</div>
                <input class="btn btn-txt-img btn-submit btn-create" type="submit" value="Create task">
            </div>
        }    

        @if (tasksService.editTaskContainerOpened) {
            <div class="btns-container">
                <input class="btn btn-txt-img btn-submit btn-create" type="submit" value="Ok">
            </div>
            <img src="/img/cancel-blue.svg" (click)="resetForm(addTaskForm)">
        }

    </form>

</div>