<nav>

    <div class="top-container">
        <div routerLink="" routerLinkActive="active">
            <img src="/img/nav-summary.svg">
            Summary
        </div>
        <div routerLink="add-task" routerLinkActive="active">
            <img src="/img/nav-add-task.svg">
            Add Task
        </div>
        <div>
            <img src="/img/nav-board.svg">
            Board
        </div>
        <div>
            <img src="/img/nav-contacts.svg">
            Contacts
        </div>
    </div>    

    <div class="bottom-container">
        <div>Privacy Policy</div>
        <div>Legal Notice</div>
    </div>

</nav>

