@use './../../../shared/colors.scss' as colors;
@use './../../../shared/breakpoints.scss' as bp;

.bg-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp.lg {
        justify-content: flex-end;
        align-items: flex-start;
    }
    @include bp.xxxl {
        padding-right: calc((100% - 1600px) / 2);
    }
}

.add-contact-container {
    max-width: 396px;
    max-height: 650px;
    box-sizing: border-box;
    position: relative;
    >img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        @include bp.lg {
            top: 26px;
            right: 26px;
        }
    }
}

.top-container {
    @include colors.bg-blue-bright;
    @include colors.color-ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: 'Inter', sans-serif !important;
    height: 328px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    @include bp.lg {
        border-top-right-radius: unset;
    }
    >div {
        font-size: 21px;
    }
}

h2 {
    font-weight: 700;
    font-size: 47px;
    margin: 0;
}

.bottom-container {
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    border-top: none;
    height: 428px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    >fieldset{
        position: relative;    
        >input {
            font-size: 19px;
            width: 364px;
            margin: 0 16px;
            border-radius: 0;
            border: none;
            padding-left: 21px;
            @include colors.border-bottom-grey-light;
        }
    }
    >div >input {
        margin-top: 52px;
        width: auto;
        padding: 10px 38px 10px 12px;
        background-image: url('/img/check.svg');
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 24px 24px;
        @include colors.color-ivory;
    }
}

#name {
    background: url('/img/person.svg') no-repeat right 8px center;
}

#email {
    background: url('/img/mail.svg') no-repeat right 8px center;
}

#phone {
    background: url('/img/phone.svg') no-repeat right 8px center;
}

.notification {
    position: absolute;
    left: 8px;
    top: 32px;
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.btn-create-container {
    position: relative;
}

.btn-create {
    @include colors.color-ivory;
}

.contact-added {
    @include colors.border-grey-light;
    @include colors.color-dark;
    @include colors.bg-ivory;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    transform:  rotate(-6deg);
    position: absolute;
    top: 36px;
    left: -5px;    
}