@use './../../shared/colors.scss' as colors;

.main-container {
    margin-left: 232px;
}

form {
    width: 488px;
    >fieldset:nth-child(1) {
        margin-top: 64px;
        >input {
            font-size: 32px !important;
        }
    }
}

fieldset {
    border: none;
}

input, textarea, select {
    width: 440px;
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    border-radius: 10px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 19px;
    @include colors.color-grey-dark;
    padding: 8px 0 8px 12px;
    box-sizing: border-box;
}

input:-moz-placeholder, /* Firefox 18- */
input::-moz-placeholder, /* Firefox 19+ */
input:-ms-input-placeholder, /* IE 10+ */
input::-webkit-input-placeholder, /* Webkit based */
input::placeholder,
textarea:-moz-placeholder, /* Firefox 18- */
textarea::-moz-placeholder, /* Firefox 19+ */
textarea:-ms-input-placeholder, /* IE 10+ */
textarea::-webkit-input-placeholder, /* Webkit based */
textarea::placeholder,
select:-moz-placeholder, /* Firefox 18- */
select::-moz-placeholder, /* Firefox 19+ */
select:-ms-input-placeholder, /* IE 10+ */
select::-webkit-input-placeholder, /* Webkit based */
select::placeholder { /* Modern browsers */
    @include colors.color-grey-dark;  
}

select {
    cursor: pointer;
    appearance: none;
    background: url('/img/drop-down-arrow.svg') no-repeat right 16px center;
}

::placeholder {
    @include colors.color-grey-dark;
}

.priority {
    >label {
        display: inline-block;
        margin-right: 10px;
        >input[type="radio"] {
            display: none;
        }
        >span {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
        }
        >input[type="radio"]:checked + span {
            background-color: orange;
        }
    }    
}

#subtasks {
    background: url('/img/add.svg') no-repeat right 21px center;
}

#date::-webkit-inner-spin-button {
    display: none;
}

#date::-webkit-calendar-picker-indicator {
    background: url('/img/due-date.svg') center no-repeat;
    margin-right: 19px;
    cursor: pointer;
}