@use './../../shared/colors.scss' as colors;
@use './../../shared/breakpoints.scss' as bp;

.main-container {
    position: relative;
}

form {
    width: 488px;    
    >fieldset:nth-child(1) {
        padding-top: 64px;
        >input {
            font-size: 32px !important;
        }
    }
}

.priority {
    >label {
        display: inline-block;
        margin-right: 10px;
        >input[type="radio"] {
            display: none;
        }
        >span {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
        }
        >input[type="radio"]:checked + span {
            background-color: orange;
        }
    }    
}

input, textarea, select {
    padding: 8px 0 8px 12px;
}

#subtasks {
    background: url('/img/add.svg') no-repeat right 21px center;
}

#date::-webkit-inner-spin-button {
    display: none;
}

#date::-webkit-calendar-picker-indicator {
    background: url('/img/due-date.svg') center no-repeat;
    margin-right: 19px;
    cursor: pointer;
}

.btns-create-clear {
    display: flex;
    gap: 25px;
    position: absolute;
    bottom: 80px;
    right: 42px;
    @include bp.xl {
        bottom: 55px;
        right: 42px;
    }
}

.btn-create-clear {
    font-size: 23px !important;
    @include colors.color-grey-dark;    
}

.btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 12px 18px 12px 23px;
    border-radius: 10px;
    box-sizing: border-box;
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    @include bp.xl {
        padding: 16px 18px 16px 23px;
    }
    >img {
        width: 24px;
        height: 24px;
    }
}

.btn-create {
    padding: 12px 38px 12px 10px;
    background-image: url('/img/check.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px 24px;
    @include colors.color-ivory;
    @include bp.xl {
        padding: 16px 38px 16px 10px;
    }
}