<div class="main-container">

    <form (ngSubmit)="onSubmit(addTaskForm)" #addTaskForm="ngForm">

        <fieldset>
            <input #title="ngModel" [(ngModel)]="newTask.title" placeholder="Enter a title" onfocus="this.placeholder=''" type="text" name="title" id="title" minlength="2" required>
            <legend></legend>
        </fieldset>

        <fieldset>
            <textarea #description="ngModel" [(ngModel)]="newTask.description" rows="3" placeholder="Enter a description" onfocus="this.placeholder=''" type="text" name="description" id="description"></textarea>
            <legend><b>Description</b> (optional)</legend>
        </fieldset>

        <fieldset>
            <input #date="ngModel" [(ngModel)]="newTask.date" placeholder="dd/mm/yyyy" onfocus="this.placeholder=''" type="date" name="date" id="date" required>
            <legend><b>Due date</b></legend>
        </fieldset>

        <fieldset class="priority">
            <label>
                <input type="radio" name="priority" value="urgent" (change)="selectedPriority = 'urgent'">
                <span>Urgent</span>
                <img src="/img/prio-urgent.svg">
            </label>
            <label>
                <input type="radio" name="priority" value="medium" (change)="selectedPriority = 'medium'">
                <span>Medium</span>
                <img src="/img/prio-medium.svg">
            </label>
            <label>
                <input type="radio" name="priority" value="low" (change)="selectedPriority = 'low'">
                <span>Low</span>
                <img src="/img/prio-low.svg">
            </label>             
            <legend><b>Priority</b></legend>
        </fieldset>

        <fieldset class="assigned-container">
                <div class="dropdown-container" tabindex="0" (click)="toggleDropdown()" (blur)="closeDropdown()">
                    <div>Select contacts to assign</div>
                    <div>
                        <img [ngClass]="{'arrow-open': dropdownOpened}" src="/img/drop-down-arrow.svg">
                    </div>
                </div>

                @if (dropdownOpened) {
                    <div class="dropdown-list">
                        @if (contacts$ | async; as contacts) {
                            @for (contact of contacts$ | async; track contact.id; let index = $index) {
                                <div class="dropdown-contact" [ngClass]="{'checked-bg': isSelected(contact)}">
                                    <div>
                                        <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                                        <div>{{ contact.name }}</div>
                                    </div>
                                    <input type="checkbox" [checked]="isSelected(contact)" (change)="toggleContactSelection($event, contact)">
                                    <span class="custom-checkbox"></span>
                                    <!-- <option [ngValue]="contact">
                                        <div class="contact-icon" [ngClass]="contact.color">{{ contact.name | initials }}</div>
                                        {{ contact.name }}
                                    </option> -->
                                </div>                                
                            }
                        } @else {
                            <p>Loading contacts ...</p>
                        }
                    </div>
                }                

                <!-- <option disabled value="0">Select contacts to assign</option> -->
                 
            <legend><b>Assigned to</b> (optional)</legend>
        </fieldset>

        <fieldset>
            <select id="category" name="category" [(ngModel)]="selectedCategory" [ngClass]="{'select-open': selectOpened}" (click)="toggleOpenClose()" required>
                <option value="" disabled>Select task category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                </option>
            </select>
            <legend><b>Category</b></legend>
        </fieldset>

        <fieldset>
            <input placeholder="Add new subtask" onfocus="this.placeholder=''" type="text" name="subtasks" id="subtasks">
            <legend><b>Subtasks</b> (optional)</legend>
        </fieldset>

        <div class="btns-create-clear">
            <div class="btn-create-clear btn-clear">
                <span>Clear</span>
                <img src="/img/cancel.svg">
            </div>
            <input class="btn-create-clear btn-create btn-submit" type="submit" value="Create task">
        </div>        

    </form>

</div>