@use './app/shared/colors.scss' as colors;
@use './app/shared/breakpoints.scss' as bp;

@font-face {
    font-display: swap;
    font-family: 'Open-Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth_wght.ttf');    
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz_wght.ttf');    
}

html {
    scroll-behavior: smooth;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    @include colors.bg-ivory;
    overflow: hidden;
}

.main-width {
    @include bp.xxl {
        position: relative;
        margin: 0 auto;
        max-width: 1600px;
    }
}

.main-container {
    height: calc(100dvh - 80px - 76px - 24px);
    padding-bottom: 24px;
    overflow: auto;
    @include bp.lg {
        height: calc(100dvh - 96px);
        // height: calc(100dvh - 96px - 24px);
        margin-left: 232px;
        @include colors.border-right-grey-light;
    }
}

.d-none {
    display: none;
}


// Forms

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    @include colors.bg-ivory;
    @include colors.border-grey-light;
    border-radius: 10px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 19px;
    @include colors.color-grey-light;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder, select::placeholder {
    @include colors.color-grey-light;
}

// input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::-webkit-input-placeholder, input::placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::placeholder,
// select:-moz-placeholder, select::-moz-placeholder, select:-ms-input-placeholder, select::-webkit-input-placeholder, select::placeholder { 
//     @include colors.color-grey-light;
// }

select {
    cursor: pointer;
    appearance: none;
    background: url('/img/drop-down-arrow.svg') no-repeat right 16px center;
}

::placeholder {
    @include colors.color-grey-dark;
}

.btn-submit {
    width: auto;
    height: auto;
    @include colors.bg-dark;
    border: none !important;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}

.contact-mail {
    @include colors.color-dark;
}
