@use './app/shared/colors.scss' as colors;

@font-face {
    font-display: swap;
    font-family: 'Open-Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth_wght.ttf');    
}

body {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    @include colors.bg-ivory;
}

.main-container {
    height: calc(100dvh - 96px);
    margin-left: 232px;
}