<div class="task-container">

    <div class="category" [ngClass]="{'bg-orange-bright': task.category == 'Technical Task', 'bg-blue-bright': task.category == 'User Story'}">{{task.category}}</div>
    <div class="title">{{task.title}}</div>
    <div class="description">{{task.description}}</div>
    <div class="subtasks">
        <div>Line</div>
        <div>1/2Subtasks</div>
    </div>
    <div class="assigned-priority">
        <div>{{task.assigned}}</div>
        <div>{{task.priority}}</div>
    </div>

</div>