@use './../../../shared/colors.scss' as colors;

.task-container {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include colors.border-grey-light;
    border-radius: 24px;
    width: 252px;
    box-sizing: border-box;
    padding: 16px;
}

.category {
    width: fit-content;   
    border-radius: 8px;
    padding: 4px 16px;
    @include colors.color-ivory;
}

.bg-orange {
    @include colors.bg-orange;
}

.bg-blue-bright {
    @include colors.bg-blue-bright-tasks;
}

.title {
    @include colors.color-dark;
    font-size: 16px;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 8px;
}

.description {
    @include colors.color-grey-dark;
}

.subtasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

.assigned-priority {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.contact-icon {
    @include colors.color-ivory;
    @include colors.border-ivory;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}