<div class="task-container">

    @if (task) { <!-- wird nur gerendert, wenn task wirklich vorhanden ist -> Fehler wie "Cannot read properties of undefined" werden dadurch vermieden -->

        <div class="category" [ngClass]="{'bg-orange': task.category == 'Technical Task', 'bg-blue-bright': task.category == 'User Story'}">{{task.category}}</div>
        <div class="title">{{task.title}}</div>
        <div class="description">{{task.description}}</div>
        <div class="subtasks">
            <div class="progress-container">
                <div class="progress-bar" [style.width.%]="progress"></div>
            </div>            
            <div>{{ subtasksDone }}/{{ task.subtasks.length }} Subtasks</div>
        </div>
        <div class="assigned-priority">
            @if (task.assigned) {
                <div class="assigned">
                    @for (assignedContact of task.assigned; track assignedContact.id; let index = $index) {
                        <div class="contact-icon" [ngClass]="assignedContact.color">{{ assignedContact.name | initials }}</div>
                        <!-- <div>{{ assignedContact.name }}</div> -->
                    }
                </div>                
            }
            <img src="/img/prio-{{task.priority}}.svg">
        </div>

    }

</div>